.feedback__btn_list {
  display: flex;
  justify-content: center;

  gap: 10px;
  padding: 0 20px 15px 20px;
}

.feedback__btn_item {
  display: flex;
  min-width: calc(100% / 3);
}

.feedback__button {
  width: 100%;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 60px;
  border: none;
  /* color: #fff; */
}

.good {
  background: #a3faa5;
}

.neutral {
  /* color: rgb(51, 51, 51); */

  background: #ffd256;
}

.bad {
  background: #ff929b;
}

.good:hover {
  box-shadow: rgba(10, 214, 10, 0.904) 0px 5px 15px -5px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.neutral:hover {
  box-shadow: rgba(245, 211, 16, 0.904) 0px 5px 15px -5px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}

.bad:hover {
  box-shadow: rgba(231, 28, 28, 0.904) 0px 5px 15px -5px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
}
